.home {
     :global {
        .home-containar {
            width: 360px;
            margin-left: 60%; // margin-top: 60px;
        }
        .home-polaroid {
            margin-left: 40%;
        }
    }
}

body {
    margin: 0;
    background-image: url('../../assets/images/arrow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}