@import '../../utils/utils.less';
.letters {
    min-height: 100vh;
    color: black; // .bgImg('books');
     :global {
        .ago {
            float: left;
        }
        .updateTime {
            float: right;
        }
    }
}